/*===== GERAL ===============================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "DM Sans", sans-serif;
  }
  
  :root {
    --hue: 90;
    --primary-color: hsl(var(--hue), 92%, 43%);
    --primary-hover: hsl(var(--hue), 92%, 33%);
    --secundary-color: hsl(0, 0%, 5%);
    --third-color: hsla(0, 0%, 100%, 0.1);
    --bg-color: hsl(0, 0%, 8%);
  
    --headline: hsl(0, 0%, 100%);
    --paragraph: hsla(0, 0%, 100%, 0.658);
    --paragraph-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  
    font-size: 62.5%;
  
    --nav-height: 7.2rem;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-size: 1.6rem;
    text-align: center;
  
    overflow: overlay;
  
    background-color: var(--bg-color);
  }
  
  body.light-mode {
    --secundary-color: rgb(229, 229, 229);
    --third-color: hwb(0 48% 52% / 0.356);
    --bg-color: rgb(241, 241, 241);
  
    --headline: hsl(0, 0%, 0%);
    --paragraph: rgb(32, 32, 32);
    --paragraph-2: hsl(calc(var(--hue) + 10), 14%, 3%);
  }
  
  ::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--bg-color);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--paragraph);
  }
  
  .wrapper {
    width: min(50rem, 100%);
  
    margin-inline: auto;
    padding-inline: 2.4rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    color: var(--paragraph);
  }
  
  section {
    padding-block: 10rem;
    padding-inline: 2rem;
  }
  
  section h4 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--primary-color);
    text-transform: uppercase;
  
    margin-bottom: 1.6rem;
  }
  
  section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
  
    color: var(--primary-color);
  }
  
  section h3 {
    color: var(--headline);
  }
  
  section p,
  section span {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
  
    color: var(--paragraph);
  }
  
  .button {
    background: none;
    border: 0.2rem solid var(--primary-color);
  
    margin-bottom: 6rem;
    padding: 1.4rem 3rem;
  
    width: fit-content;
  
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  
    position: relative;
  
    transition: 400ms;
  }
  
  body.light-mode .button,
  body.light-mode #home h4 {
    filter: brightness(0.8);
  }
  
  .button:hover {
    color: #fff;
    background-color: var(--primary-hover);
    border: 0.2rem solid var(--primary-hover);
    cursor: pointer;
  }
  
  body.light-mode .button:hover {
    filter: none;
  }

  /* SOCIAL LINKS */

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.social-links li {
  height: 3rem;
}

.social-links svg {
  margin-top: 0.3rem;
  transition: 300ms;
}

.social-links li:nth-child(2) svg {
  width: 2.7rem;
  height: 2.7rem;
}

.social-links svg:hover {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

body .social-links li svg path {
  transition: 200ms;
}

body nav#navigation .social-links li:nth-child(1) svg:hover path,
body .social-links li:nth-child(1) svg:hover path {
  stroke: #ff377a;
}

body .social-links li:nth-child(2) svg:hover path:nth-child(2),
body nav#navigation .social-links li:nth-child(2) svg:hover path:nth-child(2) {
  fill: #fff;
}

body.light-mode .social-links li:nth-child(2) svg:hover path:nth-child(2),
body.light-mode
  nav#navigation
  .social-links
  li:nth-child(2)
  svg:hover
  path:nth-child(2) {
  fill: #000;
}

body .social-links li:nth-child(3) svg:hover path:nth-child(2),
body nav#navigation .social-links li:nth-child(3) svg:hover path:nth-child(2) {
  fill: #0a66c2;
}

body .social-links li:nth-child(4) svg:hover path:nth-child(2),
body nav#navigation .social-links li:nth-child(4) svg:hover path:nth-child(2) {
  fill: #00abf0;
}

/* == == */

#projects .card circle {
  fill: var(--secundary-color);
}

#backToTopButton circle {
  fill: var(--primary-color);
}

#contact li path,
#navigation button.open-menu path[stroke*="#00856F"] {
  stroke: var(--primary-color);
}

#navigation.scroll button.open-menu path[stroke*="#00856F"] {
  stroke: var(--paragraph-2);
}


/*===== NAVIGATION ===================================*/

nav {
  width: 100vw;
  height: var(--nav-height);

  display: flex;

  position: fixed;
  top: 0;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

body.light-mode nav.scroll {
  background: rgba(151, 151, 151, 0.5);
}

/* LOGO */

a.logo {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 3rem;
  opacity: 0.7;
}

nav#navigation a.logo {
  color: var(--primary-color);
}

body.light-mode nav#navigation a.logo,
body.light-mode footer a.logo {
  font-weight: bold;
}

footer a.logo,
nav#navigation.scroll a.logo,
body.menu-expanded nav#navigation a.logo,
body.light-mode.menu-expanded nav#navigation.scroll a.logo {
  color: #fff;
}

body.menu-expanded nav#navigation a.logo {
  opacity: 1;
}

body.light-mode nav#navigation a.logo {
  filter: brightness(0.8);
}

body.light-mode footer a.logo,
body.light-mode nav#navigation.scroll a.logo {
  color: #000;
}

/* == == */

nav#navigation .menu ul li a {
  color: #fff;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*===== MENU-EXPANDED ==========================================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded nav#navigation.scroll {
  background: none;
  backdrop-filter: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu,
body.menu-expanded nav.scroll .menu {
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateX(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin: 8rem 0 10rem 0;

  font-weight: 700;
  font-size: 2rem;
  line-height: 3.1rem;
}

body.menu-expanded nav .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: white;
}

/*===== HOME ===================================*/

#home {
  height: 100vh;
  min-height: calc(60rem + var(--nav-height));
  padding-block: 0;

  background-color: var(--secundary-color);

  display: flex;
  align-items: center;
}

#home .wrapper {
  height: 53rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  position: relative;
}

#home h1 {
  font-size: 4.5rem;
  color: var(--headline);
  line-height: 110%;

  margin-bottom: 1rem;
}

#home p {
  display: inline-flex;

  font-size: 1.8rem;
  line-height: 150%;
  font-weight: bold;

  margin-bottom: 3.2rem;
}

#home .line {
  border-right: 0.2rem solid var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
}

#home .typing {
  animation: line-typing 500ms steps(40) infinite normal,
    typing 2s steps(40) 1.4s normal backwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 27.5rem;
  }
}

@keyframes line-typing {
  from {
    border-right-color: var(--primary-color);
  }
  to {
    border-right-color: transparent;
  }
}

#home .button {
  margin-inline: auto;
}

#home .col-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  animation: flutuar 3s infinite backwards;
  position: relative;
}

@keyframes flutuar {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(2rem);
  }
}

#home .wrapper::before {
  content: "";
  display: block;

  width: 27rem;
  height: 27rem;

  background-color: var(--primary-color);
  border-radius: 100%;

  position: absolute;
  bottom: -3.1rem;
  z-index: -1;

  animation: appear 1s 500ms backwards;
}

#home img {
  width: 30rem;
  min-width: 14.5rem;
  display: block;
  margin-inline: auto;
  filter: contrast(1.2);
}

#home img#notebook-2-white,
body.light-mode #home img#notebook-1,
body.light-mode #home img#notebook-2 {
  visibility: hidden;
  opacity: 0;
  animation: none;
}

#home img#notebook-1 {
  animation: appear 1s 1s backwards;
}

#home img#notebook-2-white {
  position: absolute;
}

body.light-mode #home img#notebook-2-white {
  position: absolute;
  visibility: visible;
  opacity: 1;
}

#home img#notebook-2 {
  position: absolute;
  z-index: 90;
  animation: appear 1s 2s backwards;
}

#home img#vidro {
  position: absolute;
  z-index: 100;
  right: -2rem;
  animation: appear-vidro 1s 2.3s backwards;

  filter: contrast(5);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-vidro {
  from {
    right: -4rem;
    opacity: 0;
  }
  to {
    right: -2rem;
    opacity: 1;
  }
}


*===== ABOUT =================================================*/

#about {
  text-align: left;
}

#about .content p {
  margin-block: 2.4rem;
}

#about .content a {
  text-decoration: none;
  color: var(--paragraph);
  font-weight: bold;
}

#about .col-a {
  margin-bottom: 6rem;
}

#about .col-b {
  text-align: left;
}

#about img {
  width: 38rem;

  border-radius: 2rem;
  box-shadow: 0 0 2rem black;

  transition: 600ms;
}